button.showProduct{
    background-color: var(--blue);
    color: var(--white);
    border-radius: 4px;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 1;
    padding: 8px 20px;
    text-transform: uppercase;
    cursor: pointer;
    width: 180px;
}

button.showProduct:hover {
    background-color: var(--lightBlue);
}
