.content-box-full {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto 30px;
  text-align: center;
  padding: 10px 50px 20px;
  box-shadow: 0 2px 20px rgba(1, 41, 112, 0.1);
}


.table-admin {
  font-size: 16px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  line-height: 1.5;

  span {
    color: red;
    font-weight: bold;
  }

  thead {
    th {
      padding: 11px 8px;
      background: #4CAF50;
      color: white;
    }
  }

  tbody {
    tr {

      td {
        padding: 8px;
        text-align: left;
        border: 1px solid #ddd;
      }
    }
  }

  button {
    width: 100%;
    line-height: 2;
    text-transform: uppercase;
    margin: 5px;
    font-weight: bold;
    letter-spacing: 1px;

    &.btn-orange {
      background: orange;
      color: white;
      border: none;

      &:hover {
        background-color: chocolate;
      }
    }

    &.btn-red {
      background: red;
      color: white;
      border: none;

      &:hover {
        background-color: firebrick;
      }
    }

    &.btn-green {
      background: forestgreen;
      color: white;
      border: none;

      &:hover {
        background-color: limegreen;
      }
    }
  }
}

.popup-box {
  position: fixed;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 800px;
  background-color: white;
  border: 1px solid black;

  label{
    padding: 10px;
  }

  input, textarea{
    margin: 8px;
    padding: 5px;
  }

  button {
    width: 95%;
    line-height: 2;
    text-transform: uppercase;
    margin: 5px auto;
    font-weight: bold;
    letter-spacing: 1px;

    &.btn-red {
      background: red;
      color: white;
      border: none;

      &:hover {
        background-color: firebrick;
      }
    }

    &.btn-green {
      background: forestgreen;
      color: white;
      border: none;

      &:hover {
        background-color: limegreen;
      }
    }
  }
}


