.content-box {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    margin: 0 auto 30px;
    max-width: 850px;
    text-align: center;
    padding: 10px 50px 20px;
    box-shadow: 0 2px 20px rgba(1, 41, 112, 0.1);
}

.content-box-col-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content-vertical{
    display: flex;
    flex-direction: row;
    align-content: space-between;
   justify-content: space-between;

    box-sizing: border-box;
    text-align: center;
    padding: 0 20px;
}

.flex-button {
    flex-basis: 40%;
}

/*ProductModel*/

.searchedElement > img {
    flex-basis: 40%;
    max-width: 300px;
    max-height: 300px;
    box-sizing: border-box;
    border-radius: 40%;
    box-shadow: 0 2px 20px rgba(1, 41, 112, 0.3);
    margin-left: 10px;
}

.paragraph-justify {
    text-align: justify;
}

.colour-red {
    color: red;
}

.colour-orange {
    color: orange;
}

.colour-green {
    color: green;
}
